.section.projects .content{
    width: 1180px;
}

.projects .content .title{
    font-size: 42px;
    margin-bottom: 4rem;
}

.projects .content .projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media (max-width:1000px){
    .projects .content .projects-grid{
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
    }
}

@media (max-width:576px){
    .projects .content .projects-grid{
        grid-template-columns: 1fr;
    }
}