.project{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.project:hover{
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.project .preview-image{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project .body{
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project .body .name{
    font-size: 24px;
}

.project .body .description{
    font-size: 16px;
    margin: 0.5rem 0 1.25rem;
}

.project .body .tech-list{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}

.project .body .tech-list .tech{
    padding: 0.35rem 0.4rem;
    font-size: 13px;
    border-radius: 900px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.project .body .buttons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: auto;
}

.project .body .buttons .btn {
    font-size: 16px;
    border-radius: 4px;
    padding: 0.75rem 1.2rem;
}