.skills .content .title{
    font-size: 42px;
    margin-bottom: 4rem;
}

.skills .content .my-skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

@media (max-width:452px){
    .skills .content .my-skills{
        grid-template-columns: 1fr;
    }
}